body {
    height: 100vh;
}

.right-part {
    background-color: #ffffff;
}

.left-part {
    background-color: #162f2d;
    width: 50%;
    height: 700px;
}

.headline {
    color: #162f2d;
    font-weight: bold;
    font-size: 75px;
    text-align: center;
    font-family: 'Teko', sans-serif;
}

.subline {
    color: #162f2d;
    font-size: 28px;
    text-align: center;
    font-family: 'Teko', sans-serif;
}

p {
    line-height: 25px;
}

.form {
    margin-left: 8%;
    border: solid 1px rgb(190, 190, 190);
    width: 85%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(148, 148, 148);
}

.contentarea {}

.formcontent {
    margin-left: 5%;
}

#exampleInputEmail1 {
    width: 90%;
}

#exampleInputUsername {
    width: 90%;
}

#exampleInputPassword1 {
    width: 90%;
}

#exampleInputPassword2 {
    width: 90%;
}

#exampleInputNumber {
    width: 90%;
}


input::placeholder {
    font: 11px sans-serif;
}

.gender-part {
    margin-left: 6%;
    font: 11px sans-serif;

}

.dob-part {
    margin-left: 6%;
    font: 11px sans-serif;

}

.submitbutton {
    margin-left: 4%;
    border: solid 2px;
    border-radius: 8px;
    font: sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: #162f2d;
    width: 10em;
    height: 2.5em;
}

.left-head {
    text-decoration: underline;
    color: #ffffff;
    font-family: 'Teko', sans-serif;
    font-size: 120px;
    margin-left: 10%;
    text-shadow: 10px 10px 10px rgb(0, 0, 0, 0.5);
}

.left-subhead {
    color: #ffffff;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    margin-left: 10%;
}

img {
    margin-left: 15%;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0));
}

.footer-part {
    background-color: rgb(55, 55, 55);
    height: 20%;
}

.left-footer {
    margin-left: 20%;
    color: white;
    font: 12px sans-serif;
}

.adress-footer {
    margin-left: 20%;
    color: white;
    font: 12px sans-serif;
}

.right-footer2 {
    margin-left: 20%;
    color: white;
    font: 12px sans-serif;
}

.right-footer1 {
    margin-left: 20%;
    color: white;
    font: 12px sans-serif;
}

td {
    column-width: 30px;
    border: 1px solid black;
    padding: 2px
}

.errorClasses{
    margin-top: 2px;
    margin-left: 6%;
    color: rgb(255, 0, 0);
    font: 10px sans-serif;
}